body {
margin: 0;
background-color: #fcffff; 
text-align: center;

}
p {
font-size: 0px
}
td {
width: 19vw;
height: 13.8vh;
text-align: center; 
font-size: 25px; 
font-weight: bold; 
color: black; 
background-color: rgb(126, 209, 235);
border:3px solid rgb(17, 17, 17)
}
td:hover {
background-color: #5f5f5a}
input {
width: 70%; 
height: 50%; 
border: none; 
font-size: 25px; 
font-weight: bold; 
padding: 0px 5px;
background-color: black;
color: white;
}
#shiftBtn {
background-color: darkcyan
}
